.customer-layout {
    min-height: 100vh;
    background: #f8f9fa;

    // .main-content {
    //     padding: 16px;
    //     padding-bottom: 80px;
    // }
}

.customer-layout.has-cart .main-content {
    padding-bottom: 90px;
}